* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px !important;
  line-height: inherit;
}

#registrarme_1,
#registrarme_2,
#regresar_registro_2,
#regresar_registro_3 {
  text-decoration: none;
  outline: none;
}

/* Menu */

#nav {
  display: inline-block;
}

@media screen and (max-width: 980px) {
  #nav {
    display: none;
  }
}

.navPanelToggle {
  position: fixed;
  text-decoration: none;
  height: 4em;
  right: 3em;
  top: 0.75em;
  width: 4em;
  display: none;
  z-index: 2;
}

.navPanelToggle:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 2.25em;
  left: 0.5em;
  line-height: 2.25em;
  position: absolute;
  text-align: center;
  top: 0.5em;
  width: 3.5em;
}

@media screen and (max-width: 980px) {
  .navPanelToggle {
    display: block;
  }
}

@media screen and (max-width: 736px) {
  .navPanelToggle {
    right: 1em;
  }
}

.navPanelToggle *:before {
  color: #fff;
  display: block;
  font-size: 16px;
  height: 2.25em;
  left: 0.5em;
  line-height: 2.25em;
  position: absolute;
  text-align: center;
  top: 0.5em;
  width: 3.5em;
}

#navPanel {
  -moz-transform: translatex(20em);
  -webkit-transform: translatex(20em);
  -ms-transform: translatex(20em);
  transform: translatex(20em);
  -moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  background: #1c1c1c;
  color: #fff;
  height: 100%;
  max-width: 80%;
  width: 20em;
  padding: 1.5em;
  text-transform: uppercase;
  z-index: 10003;
  display: none;
}

#navPanel.visible {
  -moz-transform: translatex(0);
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

#navPanel a:not(.close) {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  color: #fff;
  font-weight: 700;
  display: block;
  padding: 0.75em 0;
  text-decoration: none;
}

#navPanel a:not(.close):first-child {
  border: none;
}

#navPanel .close {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #484848;
  cursor: pointer;
  display: block;
  height: 4em;
  padding-right: 1.25em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 5em;
}

#navPanel .close:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  content: "\f00d";
  width: 3em;
  height: 3em;
  line-height: 3em;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

#navPanel .close:hover {
  color: inherit;
}

@media screen and (max-width: 980px) {
  #navPanel {
    display: block;
  }
}

/* Header */

body {
  position: relative;
  padding-top: 5em;
}

#header {
  background: rgb(0, 0, 0);
  /*background: #05293B;*/
  color: #d5d5d5;
  cursor: default;
  height: 5em;
  left: 0;
  line-height: 5em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#header .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 480px) {
  #header .inner {
    max-width: 90%;
    width: 90%;
  }
}

#header .logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  height: inherit;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  color: white;
  font-size: 1.75em;
  text-transform: none;
  font-weight: normal;
  padding: 0;
}

#header .logo:hover {
  color: rgba(229, 71, 75, 0.75);
}

#header a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 2em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85em;
}

#header a:hover {
  color: rgba(255, 255, 255, 0.75);
}

#header a:last-child {
  padding-right: 0em;
}

@media screen and (max-width: 736px) {
  #header a {
    padding: 0 0.5em;
  }
}

@media screen and (max-width: 480px) {
  #header {
    min-width: 320px;
  }
}

/* Banner */

.banner {
  /*background-color: #ffffe9;*/
  background-color: #e4e2e2;
  color: #f2a3a5;
  padding: 13em 0 11em 0;
  min-height: 900px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% left;
  text-align: left;
  position: relative;
  z-index: 1;
}
option{
  background-color: #111;
}
.banner input,
.banner select,
.banner textarea {
  color: #ffffff;
}

.banner a {
  color: #ffffff;
}

.banner strong,
.banner b {
  color: #ffffff;
}

.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6 {
  color: #fff;
}

.banner blockquote {
  border-left-color: #fff;
}

.banner code {
  background: none;
  border-color: #fff;
}

.banner hr {
  border-bottom-color: #fff;
}

.banner input[type="submit"],
.banner input[type="reset"],
.banner input[type="button"],
.banner button,
.banner .button {
  background-color: #8c0303;
  color: #ffffff !important;
  cursor: pointer;
}

.banner input[type="submit"]:hover,
.banner input[type="reset"]:hover,
.banner input[type="button"]:hover,
.banner button:hover,
.banner .button:hover {
  background-color: #9c1c1c;
}

.banner input[type="submit"]:active,
.banner input[type="reset"]:active,
.banner input[type="button"]:active,
.banner button:active,
.banner .button:active {
  background-color: #4d4d4d;
}

.banner input[type="submit"].alt,
.banner input[type="reset"].alt,
.banner input[type="button"].alt,
.banner button.alt,
.banner .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #ffffff !important;
}

.banner input[type="submit"].alt:hover,
.banner input[type="reset"].alt:hover,
.banner input[type="button"].alt:hover,
.banner button.alt:hover,
.banner .button.alt:hover {
  background: rgba(255, 255, 255, 0.25);
}

.banner input[type="submit"].alt:active,
.banner input[type="reset"].alt:active,
.banner input[type="button"].alt:active,
.banner button.alt:active,
.banner .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.banner input[type="submit"].alt.icon:before,
.banner input[type="reset"].alt.icon:before,
.banner input[type="button"].alt.icon:before,
.banner button.alt.icon:before,
.banner .button.alt.icon:before {
  color: #f8d1d2;
}

.banner input[type="submit"].special,
.banner input[type="reset"].special,
.banner input[type="button"].special,
.banner button.special,
.banner .button.special {
  background-color: #ffffff;
  color: #e5474b !important;
}

.banner:after {
  -moz-transition: opacity 4s ease;
  -webkit-transition: opacity 4s ease;
  -ms-transition: opacity 4s ease;
  transition: opacity 4s ease;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: #c5c5c5;
  opacity: 0.25;
}

.banner .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .banner .inner {
    max-width: 90%;
    width: 90%;
  }
}

.banner h1 {
  font-size: 2em;
  margin: 0 0 1em 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 700;
}

.banner h1 span {
  font-weight: 400;
}

body.is-loading .banner:after {
  opacity: 1;
}

@media screen and (max-width: 1680px) {
  .banner {
    padding: 10em 0 8em 0;
  }
}

@media screen and (max-width: 1280px) {
  .banner {
    padding: 8em 0 6em 0;
  }
}

@media screen and (max-width: 980px) {
  .banner {
    padding: 12em 0 10em 0;
  }

  .banner br {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  .banner {
    padding: 4em 0 2em 0;
  }

  .banner h1 {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    padding: 5em 0 3em 0;
  }

  .banner ul {
    margin-top: 1em;
  }
}

/* Footer */

#footer {
  background-color: #8c0303;
  color: white;
  padding: 1em 0 1em 0;
  background: #8c0303;
}

#footer input,
#footer select,
#footer textarea {
  color: #ffffff;
}

#footer a {
  color: #ffffff;
}

#footer strong,
#footer b {
  color: #ffffff;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  color: #fff;
}

#footer blockquote {
  border-left-color: #fff;
}

#footer code {
  background: none;
  border-color: #fff;
}

#footer hr {
  border-bottom-color: #fff;
}

#footer input[type="submit"],
#footer input[type="reset"],
#footer input[type="button"],
#footer button,
#footer .button {
  background-color: #5a5a5a;
  color: #ffffff !important;
}

#footer input[type="submit"]:hover,
#footer input[type="reset"]:hover,
#footer input[type="button"]:hover,
#footer button:hover,
#footer .button:hover {
  background-color: #676767;
}

#footer input[type="submit"]:active,
#footer input[type="reset"]:active,
#footer input[type="button"]:active,
#footer button:active,
#footer .button:active {
  background-color: #4d4d4d;
}

#footer input[type="submit"].alt,
#footer input[type="reset"].alt,
#footer input[type="button"].alt,
#footer button.alt,
#footer .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #ffffff !important;
}

#footer input[type="submit"].alt:hover,
#footer input[type="reset"].alt:hover,
#footer input[type="button"].alt:hover,
#footer button.alt:hover,
#footer .button.alt:hover {
  background: rgba(255, 255, 255, 0.25);
}

#footer input[type="submit"].alt:active,
#footer input[type="reset"].alt:active,
#footer input[type="button"].alt:active,
#footer button.alt:active,
#footer .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#footer input[type="submit"].alt.icon:before,
#footer input[type="reset"].alt.icon:before,
#footer input[type="button"].alt.icon:before,
#footer button.alt.icon:before,
#footer .button.alt.icon:before {
  color: #f8d1d2;
}

#footer input[type="submit"].special,
#footer input[type="reset"].special,
#footer input[type="button"].special,
#footer button.special,
#footer .button.special {
  background-color: #ffffff;
  color: #e5474b !important;
}

#footer label {
  color: #ffffff;
}

#footer input[type="text"],
#footer input[type="password"],
#footer input[type="email"],
#footer select,
#footer textarea {
  background: none;
  border-color: rgba(255, 255, 255, 0.25);
}

#footer input[type="text"]:focus,
#footer input[type="password"]:focus,
#footer input[type="email"]:focus,
#footer select:focus,
#footer textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

#footer .select-wrapper:before {
  color: #fff;
}

#footer input[type="checkbox"] + label,
#footer input[type="radio"] + label {
  color: #f2a3a5;
}

#footer input[type="checkbox"] + label:before,
#footer input[type="radio"] + label:before {
  background: none;
  border-color: #fff;
}

#footer input[type="checkbox"]:checked + label:before,
#footer input[type="radio"]:checked + label:before {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #e5474b;
}

#footer input[type="checkbox"]:focus + label:before,
#footer input[type="radio"]:focus + label:before {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

#footer ::-webkit-input-placeholder {
  color: #f8d1d2 !important;
}

#footer :-moz-placeholder {
  color: #f8d1d2 !important;
}

#footer ::-moz-placeholder {
  color: #f8d1d2 !important;
}

#footer :-ms-input-placeholder {
  color: #f8d1d2 !important;
}

#footer .formerize-placeholder {
  color: #f8d1d2 !important;
}

#footer .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  #footer .inner {
    max-width: 90%;
    width: 90%;
  }
}

#footer .copyright {
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
}

#footer .copyright a {
  color: #f2a3a5;
}

@media screen and (max-width: 980px) {
  #footer {
    padding: 4em 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 2em 0 0.1em 0;
  }
}

.menu {
  width: 100%;
  position: fixed;
  background-color: #05293b;
  height: 5rem;
}
.menu2 {
  font-size: 1.5rem;
}
#botonInicio {
  border-radius: 5px;
  background-color: #1c656d;
  color: white;
  border: none;
}
.InicioSesion {
  background-color: #efeded;
  border-radius: 15px;
}
#entrada {
  padding-left: 18%;
  box-sizing: border-box;
}
.boton {
  background-color: #d9320f;
  color: white;
  border-radius: 5px;
  width: 10rem;
  box-sizing: border-box;
  border: none;
}

#usuario {
  color: white;
}

#BuscadorProyectos {
  background-color: #003e72;
  color: #b2b1b1;
  height: 3rem;
  border: none;
  border-radius: 5px;
}
.imagen_feed {
  height: auto;
  width: 100%;
  border-radius: 80px;
}
#VerMas {
  border: none;
  border-radius: 10px;
  background-color: rgb(63, 176, 63);
}

.feed-container {
  background-color: #efefef00;
  max-height: 1000px;
  overflow: scroll;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 600px !important;
  /*
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.959);
  -webkit-box-shadow: 0px 2px 6px 1px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 2px 6px 1px rgba(133, 133, 133, 1);
  box-shadow: 0px 2px 6px 2px rgb(104, 104, 104);
  */
}

.proyect-container {
  position: relative;
  z-index: 1;
  background-color: #c5c5c5;
  padding: 20px 10px;
}

.titulos_proyecto {
  color: rgba(18, 77, 107, 0.959) !important;
  font-weight: 700;
  font-size: 16px;
}

/*
.proyect-container:hover{
  z-index: 1;
}


.proyect-moreinfo{
  display: block;
  position: absolute; 
  z-index: 5; 
  width: 100%; 
  height: 100%;
  background: rgb(6,4,32);
  background: linear-gradient(90deg, rgba(6,4,32,0.2819502801120448) 0%, rgba(6,6,176,0) 27%, rgba(25,122,171,1) 58%, rgba(8,163,224,1) 100%);

}
*/

body {
  margin: 0;
  color: #6a6f8c;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(5, 41, 59, 0.959);
  /*background:rgba(0, 0, 0, 0.9);*/
  border-radius: 7px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #8c0303;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}

/* @extend display-flex; */
display-flex,
.booking-content {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

select{ 
-webkit-appearance: auto !important;
}

.login-form .group .button {
  background: #8c0303 !important;
}

.login-form .group .button:hover {
  background: #aa2929 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type="checkbox"] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type="radio"] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
}

h2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  font-size: 21px;
  text-align: center;
  margin-bottom: 28px;
}

.clear {
  clear: both;
}

.main {
  padding: 115px 0;
  position: relative;
}

.container {
  width: 1150px;
  background-image: url("../images/trabajo_en_casa1.jpg");
  margin: 0 auto;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.booking-content {
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.booking-image {
  width: 58.33%;
  margin-bottom: -8px;
}

.booking-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#booking-form {
  padding: 30px 70px 30px 70px;
}

.booking-form {
  width: 41.67%;
  background: rgba(5, 41, 59, 0.959);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-radio {
  margin-bottom: 65px;
  padding-top: 20px;
}
.form-radio input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.form-radio label {
  padding-top: 4px;
}
.form-radio input + label {
  margin: 0 3px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 2px #ebebeb;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #888;
  text-align: center;
  transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.form-radio input:checked + label {
  background-color: #111;
  color: #fff;
  border-color: #111;
  z-index: 1;
}
.form-radio input:focus + label {
  outline: none;
}
.form-radio input:hover {
  background-color: #111;
  color: #fff;
  border-color: #111;
}

.radio-item-list {
  margin: 0 -3px;
}

.active {
  position: relative;
  background: #edb77d;
  padding: 14px 1px;
  margin-right: 7px;
  margin-left: 3px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
}
.active:after {
  position: absolute;
  content: "Person";
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 11px;
  color: #222;
  font-weight: bold;
}
.active input + label {
  margin-right: 59px;
}

form {
  padding: 30px 70px 30px 70px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-input {
  padding-top: 21px;
}

.form-label {
  position: absolute;
  transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  color: #bebebe;
  left: 0;
  top: 23px;
}

input {
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  padding-top: 10px;
  -webkit-appearance: none;
}
input:focus + .form-label,
input:valid + .form-label {
  top: 1px;
  font-size: 11px;
  color: #edb77d !important;
}

textarea {
  resize: none;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  padding-top: 10px;
  -webkit-appearance: none;
}
textarea:focus + .form-label,
textarea:valid + .form-label {
  top: 1px;
  font-size: 11px;
  color: #edb77d !important;
}

input,
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: none;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #999;
  padding: 4px 0;
}
input:focus,
select:focus,
textarea:focus,
select:focus {
  border-bottom: 1px solid #edb77d;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset;
}

input::-webkit-input-placeholder {
  color: #bebebe;
}
input::-moz-placeholder {
  color: #bebebe;
}
input:-ms-input-placeholder {
  color: #bebebe;
}
input:-moz-placeholder {
  color: #bebebe;
}

.submit {
  width: auto;
  background: #edb77d;
  color: #fff;
  padding: 15px 43px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
}
.submit:hover {
  background: #e79e50;
}

ul {
  background: 0 0;
  z-index: 1;
  border-bottom: 1px solid #999;
  padding-top: 15px;
}

ul li {
  padding: 5px 0px;
  z-index: 1;
  color: #bebebe;
}

ul li:not(.init) {
  display: none;
  background: #fff;
  color: #222;
  padding: 5px 10px;
}

ul li:not(.init):hover,
ul li.selected:not(.init) {
  background: #edb77d;
}

li.init {
  cursor: pointer;
  position: relative;
}
li.init:after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 20px;
  color: #bebebe;
  content: "\f2f2";
}

.label-radio {
  display: block;
  margin-bottom: 18px;
}

.vertify-booking {
  color: #edb77d;
  font-size: 11px;
  text-decoration: none;
  margin-top: 14px;
  display: block;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.vertify-booking:hover {
  text-decoration: underline;
}

.select-list {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 47px;
}

.list-item {
  position: absolute;
  width: 100%;
}

#time {
  z-index: 1;
}

#food {
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
    background: transparent;
  }

  .booking-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }

  .booking-image,
  .booking-form {
    width: 100%;
  }

  .booking-image {
    order: 2;
    text-align: center;
  }

  .booking-form {
    order: 1;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .booking-img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .radio-item {
    display: block;
    margin-bottom: 15px;
    width: 150px;
  }

  .active {
    padding: 7px 1px;
  }

  form {
    padding: 72px 40px 70px 40px;
  }
}

/*# sourceMappingURL=style.css.map */

input[type="date"] {
  width: 100%;
  white-space: pre;
  cursor: pointer;
}
/* placeholder de espacios en blanco */
input[type="date"]::before {
  content: attr(placeholder)
    "                                                                                                  ";
}
/* Cuando se enfoca que no esten los espacios en blanco */
input[type="date"]:focus::before {
  content: "" !important;
}

.button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: #8c0303;
  color: #ffffff !important;
  cursor: pointer;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px !important;
  line-height: inherit;
  outline: none !important;
  text-decoration: none;
}

.fade:not(.show) {
  opacity: 1 !important;
}

.modal-dialog {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 900px !important;
  padding: 1.25em;
  border: none;
  border-radius: 0.3125em;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
}

.modal-header {
  display: inline !important;
}

.modal-lg,
.modal-xl {
  max-width: 1000px;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.modal-swal {
  display: flex;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
  overflow-x: hidden;
  transition: background-color 0.1s;
  -webkit-overflow-scrolling: touch;
}

.dropbtn {
  background-color: black;
  color: white;
  border: none;
  padding: 0px 2em;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 78px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  text-align: left;
  background-color: black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  color: #ccc;
}

.dropdown-content a:hover .dropbtn {
  color: black !important;
}

#header a:last-child {
  padding-right: 16px !important;
}

.a_usuario:hover {
  color: #ffbc00c4 !important;
}

.a_usuario {
  padding: 15px 16px !important;
  line-height: 35px !important;
  display: inherit;
}

.panel_proyecto {
  min-height: 250px !important;
  max-height: 250px !important;
}

.panel_container {
  background-color: #ffbc00c4 !important;
  border-radius: 5px;
  width: 100%;
  height: 250px !important;
  min-height: 100% !important;
  max-height: 100% !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu_perfil {
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  color: #444 !important;
}
/*
.menu_perfil:hover{
  background-color: rgba(5, 41, 59, 0.959);
  color:#f9a64d !important;
  transition: .5s;
}
*/
.menu_perfil:hover {
  background-color: rgba(131, 131, 131, 0.959);
  transition: 0.5s;
}

.menu_selected {
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(5, 41, 59, 0.959);
  color: #f9a64d !important;
}

.ver_mas {
  background-color: #000 !important;
  font-size: 15px;
  height: 100%;
  padding: 0px 15px;
}
.ver_mas:hover {
  color: #ccc !important;
}

.header_proyectos {
  color: #666 !important;
  padding-bottom: 0.5rem;
  margin: 0px;
  font-weight: 600;
  cursor: pointer;
}

.header_selected {
  color: #333 !important;
  border-bottom: 2px solid rgba(15, 90, 128, 0.959);
}

.header_proyectos:hover {
  color: rgb(133, 133, 133) !important;
}

.hr_small_header {
  width: 50px !important;
  height: 5px !important;
  border: 1px solid #ffb25f !important;
  background: #ffb25f !important;
  margin-top: 0px !important;
}

#regresar_explorar:hover {
  background-color: #fcd143 !important;
}

/*TABLE FIXED*/
body {
  background-color: #bdc3c7;
}

.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed tbody {
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tr {
  display: flex;
}

.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #f39c12;
  border-color: #e67e22;
}

.panel_propuesta_aceptada {
  text-align: left;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid rgb(216, 216, 216);
  background-color: #f7f7f7;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.959);
  -webkit-box-shadow: 0px 2px 6px 1px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 2px 6px 1px rgba(133, 133, 133, 1);
  box-shadow: 2px 3px 6px 2px rgb(134, 134, 134);
}

.btn-regresar:hover{
  background-color: #ffc935c4 !important;
}